body {
    background: darkgrey;
    background-size: cover;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    background:#34589e;
    

}

main{
    
    background: black;
    margin: 30px auto;
    max-width: 600px;
    border: 3px solid black;
    border-radius: 30px;
    padding: 20px;
    
}

#container {
    background-image: url("pingpong.jpeg");
    background-size: cover;
    border-radius: 30px;
    display: flex;
    margin: 0 auto;
    border-bottom: 0px solid black;
    padding: 30px;
    max-width: 500px;
    justify-content: space-between
}

p {
    
color: white;
}

h1 {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 50px;
}

#player-a-btn {
    background: darkred;
}

#player-b-btn {
    background: darkred;
}

#new-game-btn {
    margin-top: 10px;
    background: darkgreen;
}

#new-set-btn {
    margin-top: 10px;
    background: darkgreen;
}

#bottom-btns {
    
    margin: 0 auto;
    max-width: 500px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

#reset-el {
    max-width: 175px;
    margin: 0 auto;
    border-bottom: 2px solid white;
    
    text-align: left
}
